@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* This stylesheet is specifically for the drop down menu - only accessed in mobile version of site */

body {
    margin: 3rem;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
}

nav ul {
    display: flex;
    gap: 2em;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    text-decoration: underline;
}

.exit {
    text-align: right;
}
